@model List<expense_tracker.Models.Category>

    @{
    ViewData["Title"] = "Categories";
    }

    <h1>Categories</h1>
    <table>
        <td>
            <a asp-action="AddOrEdit">Create New</a>
        </td>
        @if (Model.Count != 0)
        {
        <tr>
            <th>Title</th>
            <th>Description</th>
            <th>Type</th>
        </tr>
        @foreach (var item in Model)
        {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Type)
            </td>
            <td>
                <a asp-action="AddOrEdit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
        }
        }
    </table>
